fastapi>=0.133.0
uvicorn>=0.23.0
scikit-learn>=1.2.0
numpy>=1.23.0
joblib>=1.2.0
google-cloud-storage>=2.0.0
pydantic>=2.0.0
gspread>=6.2.1
fastapi-cache2>=0.2.2
APScheduler>=3.11.2
pandas
polars>=1.8.2
pyarrow>=22.0.0